@charset "UTF-8";
.section-topheadline {
  display: flex;
  background-color: white;
  max-width: 1160px;
  width: 100%;
  align-items: center;
  border-radius: 16px;
  box-shadow: 10px 10px 6px 0px rgba(0, 0, 0, 0.16);
}
@media screen and (max-width:599px) {
  .section-topheadline {
    width: 300px;
    border-radius: 8px;
    box-shadow: 8px 6px 6px 0px rgba(0, 0, 0, 0.16);
    margin-bottom: 28px;
  }
}
.section-topheadline__text {
  font-family: "Noto Sans JP";
  color: black;
  font-size: 16px;
  font-weight: bold;
  justify-content: start;
  text-align: left;
  margin: inherit;
  padding: 16px 24px;
}
@media screen and (max-width:599px) {
  .section-topheadline__text {
    font-size: 12px;
    padding: 8px 8px;
    margin: 0;
  }
}

.section-headline {
  display: flex;
  background-color: white;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  box-shadow: 10px 10px 6px 0px rgba(0, 0, 0, 0.16);
}
@media screen and (max-width:599px) {
  .section-headline {
    border-radius: 8px;
    box-shadow: 8px 6px 6px 0px rgba(0, 0, 0, 0.16);
  }
}
.section-headline__text {
  font-family: "Noto Sans JP";
  color: #736E6E;
  font-size: 32px;
  font-weight: bold;
  margin: inherit;
  padding: 16px 24px;
}
@media screen and (max-width:599px) {
  .section-headline__text {
    font-size: 21px;
    line-height: 1;
    margin: inherit;
    padding: 11px 24px;
  }
}

.mainSection-title, h2 {
  border: none;
}

/* TOｐに戻るボタン */
.call_to_action {
  margin: 80px auto 140px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width:599px) {
  .call_to_action {
    margin: 50px auto 214px;
  }
}
.call_to_action__box {
  background-color: #F7CB07;
  color: black;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 480px;
  height: 96px;
  border-radius: 8px;
  box-shadow: 10px 10px 6px 0px rgba(0, 0, 0, 0.16);
}
@media screen and (max-width:599px) {
  .call_to_action__box {
    width: 220px;
    height: 46px;
    border-radius: 32px;
  }
}
.call_to_action__text {
  margin: auto auto;
  font-family: "Noto Sans JP";
  font-size: 32px;
  font-weight: bold;
  line-height: 3;
}
@media screen and (max-width:599px) {
  .call_to_action__text {
    font-size: 21px;
    line-height: 2;
  }
}

/* 配りなおすボタン */
.shuffle {
  margin: 68px auto 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width:599px) {
  .shuffle {
    margin: 33px auto 40px;
  }
}
.shuffle__box {
  background-color: #F7CB07;
  color: black;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 336px;
  height: 74px;
  border-radius: 16px;
  box-shadow: 10px 10px 6px 0px rgba(0, 0, 0, 0.16);
}
@media screen and (max-width:599px) {
  .shuffle__box {
    width: 220px;
    height: 46px;
    border-radius: 32px;
  }
}
.shuffle__text {
  margin: auto auto;
  font-family: "Noto Sans JP";
  font-size: 32px;
  font-weight: bold;
  line-height: 2;
}
@media screen and (max-width:599px) {
  .shuffle__text {
    font-size: 18px;
    line-height: 2.5;
  }
}

/* 詳しく見るボタン */
.more-btn {
  margin: 80px auto 72px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width:599px) {
  .more-btn {
    margin: 33px auto 40px;
  }
}
.more-btn__box {
  background-color: #1767AC;
  color: #FFFEFE;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 75px;
  height: 24px;
  border-radius: 8px;
}
.more-btn__text {
  margin: auto auto;
  font-family: "Noto Sans JP";
  font-size: 10px;
  font-weight: bold;
  line-height: 2.5;
}
@media screen and (max-width:599px) {
  .more-btn__text {
    font-size: 18px;
    line-height: 2.5;
  }
}

/* ヘッダー関係 */
.header_wrapper {
  height: 80px;
  display: flex;
  justify-content: center;
}

.header_logo {
  height: 100%;
}

/* カードめくり */
.card {
  position: relative;
  perspective: 500px;
}

.fuda {
  position: absolute;
  display: inline-block;
  transition: 2s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border-radius: 15px;
}

.csize {
  width: 216px;
  height: 304px;
}
@media screen and (max-width:599px) {
  .csize {
    width: 146px;
    height: 210px;
  }
}

.backboard {
  background: inherit;
  border: none;
}

.omote {
  transform: rotateY(180deg);
  background: white;
  border: 14px solid #1767AC;
  padding: 0.1em;
}

#ura__blue {
  transform: rotateY(0deg);
  background: url(../img/card_blue.png);
  border: none;
  background-size: 108%;
}

#ura__brown {
  transform: rotateY(0deg);
  background: url(../img/card_brown.png);
  border: none;
  background-size: 108%;
}

#tg01:checked ~ #omote {
  transform: rotateY(0deg);
}

#tg01:checked ~ #ura__blue {
  transform: rotateY(-180deg);
}

#tg02:checked ~ #omote {
  transform: rotateY(0deg);
}

#tg02:checked ~ #ura__brown {
  transform: rotateY(-180deg);
}

#tg03:checked ~ #omote {
  transform: rotateY(0deg);
}

#tg03:checked ~ #ura__blue {
  transform: rotateY(-180deg);
}

#tg04:checked ~ #omote {
  transform: rotateY(0deg);
}

#tg04:checked ~ #ura__brown {
  transform: rotateY(-180deg);
}

#tg05:checked ~ #omote {
  transform: rotateY(0deg);
}

#tg05:checked ~ #ura__blue {
  transform: rotateY(-180deg);
}

#tg06:checked ~ #omote {
  transform: rotateY(0deg);
}

#tg06:checked ~ #ura__brown {
  transform: rotateY(-180deg);
}

#tg07:checked ~ #omote {
  transform: rotateY(0deg);
}

#tg07:checked ~ #ura__blue {
  transform: rotateY(-180deg);
}

#tg08:checked ~ #omote {
  transform: rotateY(0deg);
}

#tg08:checked ~ #ura__brown {
  transform: rotateY(-180deg);
}

.omote-content {
  display: flex;
  flex-flow: column;
  margin-top: 96px;
  align-items: center;
  text-align: center;
}
@media screen and (max-width:599px) {
  .omote-content {
    margin-top: 40px;
  }
}
.omote-content__title {
  font-size: 24px;
}
@media screen and (max-width:599px) {
  .omote-content__title {
    font-size: 16px;
  }
}

/* トップページのcss */
.page-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  background: url(../img/p0119.png);
  background-size: cover;
}
@media screen and (max-width:599px) {
  .page-wrap {
    display: flex;
    width: 100vw;
    background: url(../img/p0119.png);
    background-size: cover;
  }
}

.section-card {
  display: flex;
  max-width: 1160px;
  margin: 42px auto 0;
  padding: 0;
  display: flex;
  flex-flow: column;
  align-items: center;
}
@media screen and (max-width:599px) {
  .section-card {
    width: 100vw;
    margin-top: 14px;
    padding: 0 20px 56px;
  }
}

.card-wrap__top {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  row-gap: 32px;
  -moz-column-gap: 90px;
       column-gap: 90px;
  justify-content: space-around;
}
@media screen and (max-width:599px) {
  .card-wrap__top {
    width: 100%;
    row-gap: 28px;
    -moz-column-gap: 52px;
         column-gap: 52px;
    margin-top: 21px;
  }
}

/* 下層ページのcss */
.card-wrap {
  max-width: 1160px;
  width: 100%;
  margin: 42px auto 0;
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 36px;
       column-gap: 36px;
}
@media screen and (max-width:599px) {
  .card-wrap {
    display: block;
    width: 100%;
    align-items: center;
    margin-top: 0;
    padding-top: 35px;
  }
}

.card-outside {
  display: flex;
  max-width: 544px;
  aspect-ratio: 0.712;
  border-color: #707070;
  border: 1px solid;
  border-radius: 26px;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.35);
}
@media screen and (max-width:599px) {
  .card-outside {
    display: block;
    width: 100%;
    margin: 0 auto 24px;
    box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.16);
  }
}
.card-outside__ebetsu {
  background-color: #A2482B;
}
.card-outside__takamatsu {
  background-color: #1767AC;
}

.card-imginfo {
  display: flex;
  flex-flow: column;
  width: 90%;
  margin: 24px auto;
  border-radius: 16px;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.35);
}
@media screen and (max-width:599px) {
  .card-imginfo {
    display: block;
    border-radius: 14;
    height: 96%;
  }
}
.card-imginfo__ebetsu {
  background-color: #F6F3EB;
}
.card-imginfo__takamatsu {
  background-color: #E9F0F9;
}

.card-title {
  text-align: center;
  padding-top: 44px;
}
@media screen and (max-width:599px) {
  .card-title {
    padding-top: 26px;
  }
}
.card-title__text {
  font-size: 36px;
  font-weight: bold;
  margin: inherit;
}
@media screen and (max-width:599px) {
  .card-title__text {
    font-size: 20px;
  }
}

.card-content {
  display: flex;
  flex-flow: column;
  width: 85%;
  margin: 0 auto;
}
.card-content__box {
  max-width: 600px;
  aspect-ratio: 1.33;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-content__box__img {
  width: 90%;
  aspect-ratio: 1.33;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width:599px) {
  .card-content__box__img {
    width: 75%;
    aspect-ratio: 1.33;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
.card-content__text {
  font-size: 16px;
  line-height: 2;
  margin-top: 10px;
}
@media screen and (max-width:599px) {
  .card-content__text {
    font-size: 12px;
    line-height: 2.5;
    margin-top: 18px;
  }
}
/*# sourceMappingURL=style.css.map */