@charset "UTF-8";
.page-wrap {
  display: flex;
  justify-content: center;
}
@media screen and (max-width:1024px) {
  .page-wrap {
    display: initial;
  }
}

.section {
  padding: 344px 0 224px 0;
  display: flex;
  flex-flow: column;
}
@media screen and (max-width:1024px) {
  .section {
    width: 100vw;
    padding-right: 51px;
    padding-left: 51px;
    padding-top: 216px;
    padding-bottom: 56px;
  }
}
@media screen and (max-width:599px) {
  .section {
    width: 100vw;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 120px;
    padding-bottom: 56px;
  }
}

.section-headline {
  text-align: center;
  font-family: "Noto Serif JP";
  color: #9E60A7;
  font-size: 56px;
  font-weight: bold;
}
@media screen and (max-width:1024px) {
  .section-headline {
    font-size: 28px;
  }
}

/* コース一覧ページ */
.section-course {
  width: 100%;
  margin: 0 auto;
  padding: 344px 0 224px;
  display: flex;
  flex-flow: column;
}
@media screen and (max-width:1024px) {
  .section-course {
    width: 100%;
    padding: 120px 0 56px;
  }
}
@media screen and (max-width:599px) {
  .section-course {
    width: 100%;
    padding: 120px 20px 56px;
  }
}

.course-wrap {
  max-width: 1500px;
  width: 90%;
  margin: 112px auto 0;
  display: flex;
  flex-wrap: wrap;
  row-gap: 112px;
}
@media screen and (max-width:1024px) {
  .course-wrap {
    margin: 28px auto 0;
    row-gap: 28px;
    width: 80%;
  }
}
@media screen and (max-width:599px) {
  .course-wrap {
    margin: 56px auto 0;
    width: 100%;
  }
}
.course-imginfo {
  display: flex;
  width: 100%;
}
@media screen and (max-width:599px) {
  .course-imginfo {
    display: block;
    height: 100%;
  }
}
.course-box {
  max-width: 600px;
  width: 40%;
  aspect-ratio: 1.33;
}
@media screen and (max-width:1024px) {
  .course-box {
    width: 30%;
    aspect-ratio: 1;
  }
}
@media screen and (max-width:599px) {
  .course-box {
    width: 100%;
    aspect-ratio: 1.33;
  }
}
.course-box__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px 0 0 8px;
}
@media screen and (max-width:1024px) {
  .course-box__img {
    width: 100%;
  }
}
@media screen and (max-width:599px) {
  .course-box__img {
    width: 100%;
    margin-bottom: 20.5px;
    border-radius: 8px 8px 0 0;
  }
}
.course-content {
  display: flex;
  flex-flow: column;
  margin: auto 0;
  padding: 0 48px;
  width: 60%;
}
@media screen and (max-width:1024px) {
  .course-content {
    width: 70%;
    padding: 0 20px;
  }
}
@media screen and (max-width:599px) {
  .course-content {
    width: initial;
  }
}
.course-content__title {
  font-family: "Noto Serif JP";
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 24px;
}
@media screen and (max-width:1024px) {
  .course-content__title {
    font-size: 20px;
    margin-bottom: 8px;
  }
}
.course-content__text {
  font-family: "Noto Serif JP";
  font-size: 16px;
  line-height: 2;
}
@media screen and (max-width:1024px) {
  .course-content__text {
    line-height: 1.5;
  }
}
@media screen and (max-width:599px) {
  .course-content__text {
    margin-bottom: 20px;
  }
}
/*# sourceMappingURL=style.css.map */