@charset "UTF-8";
.section-headline__toptext {
  font-family: "Noto Sans JP";
  color: black;
  font-size: 16px;
  font-weight: bold;
  margin: inherit;
  padding: 16px 24px;
}
.section-headline {
  display: flex;
  background-color: white;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  box-shadow: 10px 10px 6px 0px rgba(0, 0, 0, 0.16);
}
.mainSection-title, h2 {
  border: none;
}
.section-headline__text {
  font-family: "Noto Sans JP";
  color: black;
  font-size: 32px;
  font-weight: bold;
  margin: inherit;
  padding: 16px 24px;
}
/* CTAボタン */
.call_to_action {
  margin: 80px auto 140px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.call_to_action__box {
  background-color: #F7CB07;
  color: black;
  font-family: "Noto Sans JP";
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 400px;
  border-radius: 8px;
  box-shadow: 10px 10px 6px 0px rgba(0, 0, 0, 0.16);
}
.call_to_action__text {
  margin: auto auto;
}
/* カードめくり */
.card {
  position: relative;
  perspective: 500px;
}
.fuda {
  position: absolute;
  display: inline-block;
  transition: 2s;
  backface-visibility: hidden;
  border-radius: 15px;
}
.csize {
  width: 240px;
  height: 320px;
}
.omote {
  transform: rotateY(180deg);
  background: white;
  border: 2px solid black;
  padding: 0.6em;
}
#ura__blue {
  transform: rotateY(0deg);
  background: blue;
  border: 10px double black;
  background-image: linear-gradient(45deg, #ffffff00 50%, #ffffff80 50%);
  background-size: 20px 20px;
}
#ura__brown {
  transform: rotateY(0deg);
  background: brown;
  border: 10px double black;
  background-image: linear-gradient(45deg, #ffffff00 50%, #ffffff80 50%);
  background-size: 20px 20px;
}
#tg01:checked ~ #omote {
  transform: rotateY(0deg);
}
#tg01:checked ~ #ura__blue {
  transform: rotateY(-180deg);
}
#tg02:checked ~ #omote {
  transform: rotateY(0deg);
}
#tg02:checked ~ #ura__blue {
  transform: rotateY(-180deg);
}
#tg03:checked ~ #omote {
  transform: rotateY(0deg);
}
#tg03:checked ~ #ura__blue {
  transform: rotateY(-180deg);
}
#tg04:checked ~ #omote {
  transform: rotateY(0deg);
}
#tg04:checked ~ #ura__blue {
  transform: rotateY(-180deg);
}
#tg05:checked ~ #omote {
  transform: rotateY(0deg);
}
#tg05:checked ~ #ura__brown {
  transform: rotateY(-180deg);
}
#tg06:checked ~ #omote {
  transform: rotateY(0deg);
}
#tg06:checked ~ #ura__brown {
  transform: rotateY(-180deg);
}
#tg07:checked ~ #omote {
  transform: rotateY(0deg);
}
#tg07:checked ~ #ura__brown {
  transform: rotateY(-180deg);
}
#tg08:checked ~ #omote {
  transform: rotateY(0deg);
}
#tg08:checked ~ #ura__brown {
  transform: rotateY(-180deg);
}
/* トップページのcss */
.page-wrap {
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 1024px) {
  .page-wrap {
    display: initial;
  }
}
.section {
  display: flex;
}
@media screen and (max-width: 1024px) {
  .section {
    width: 100vw;
    padding-right: 51px;
    padding-left: 51px;
    padding-top: 216px;
    padding-bottom: 56px;
  }
}
@media screen and (max-width: 599px) {
  .section {
    width: 100vw;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 120px;
    padding-bottom: 56px;
  }
}
.card-wrap__top {
  width: 100%;
  margin: 112px auto 0;
  display: flex;
  flex-wrap: wrap;
  row-gap: 90px;
  column-gap: 24px;
  justify-content: space-around;
}
/* 下層ページのcss */
.section-card {
  background-image: url(../img/p0119.png) no-repeat center center;
  background-size: cover;
  height: 100vh;
  max-width: 1160px;
  margin: 42px auto 0;
  padding: 0;
  display: flex;
  flex-flow: column;
  align-items: center;
}
.card-wrap {
  max-width: 1160px;
  width: 100%;
  margin: 42px auto 0;
  display: flex;
  justify-content: space-between;
  column-gap: 36px;
}
.card-outside {
  display: flex;
  max-width: 544px;
  aspect-ratio: 0.7;
  border-color: #707070;
  border: 1px solid;
  border-radius: 26px;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.35);
}
.card-outside__ebetsu {
  background-color: #A2482B;
}
.card-outside__takamatsu {
  background-color: #1767AC;
}
.card-imginfo {
  display: flex;
  flex-flow: column;
  width: 90%;
  margin: 24px auto;
  background-color: white;
  border-radius: 16px;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.35);
}
.card-imginfo__ebetsu {
  background-color: #F6F3EB;
}
.card-imginfo__takamatsu {
  background-color: #E9F0F9;
}
.card-box {
  max-width: 600px;
  aspect-ratio: 1.33;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-box__img {
  width: 90%;
  aspect-ratio: 1.33;
  object-fit: cover;
}
.card-content {
  display: flex;
  flex-flow: column;
  margin: auto 0;
  padding: 0 48px;
  width: 100%;
}
.card-content__title {
  font-size: 36px;
  font-weight: bold;
  margin: 0 auto;
  padding-top: 44px;
  line-height: 0.84;
}
.card-content__text {
  font-size: 16px;
  line-height: 2;
}
/*# sourceMappingURL=style.css.map */