@import "variables";


.section-headline__toptext {
    font-family: $sans;
    color: black;
    font-size: 16px;
    font-weight: bold;
    margin: inherit;
    padding: 16px 24px;
}

.section-headline {
    display: flex;
    background-color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.35);
}
.mainSection-title,h2 {
    border: none;
}
.section-headline__text {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    font-size: 56px;
    font-weight: bold;
    margin: inherit;
    padding: 16px 24px;
}

/* CTAボタン */
.call_to_action {
    margin: 120px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.call_to_action__box {
    background-color: yellow;
    color: black;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 400px;
    border-radius: 8px;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.35);
}

.call_to_action__text {
    margin: auto auto;
}